.app {
    main {
        display: flex;
        gap: 10px;
        height: calc(100vh - 83.9962px);
        padding: 10px;
        .list-container {
            width: 25%;
        }
        .todo-container {
            width: 75%;
        }
    }
}